
.u-extra {
  visibility: hidden;
  opacity: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: .2s ease-in;
  margin-bottom: .5em;
}

.u-extra.open {
  visibility: visible;
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, -3);
}

.contents .u-extra {
  visibility: visible;
  opacity: 1;
  margin-bottom: 2em;
}

.u-emphasize {
  font-family: $font-secondary;
}

.u-block {
  display: block;
}

.u-inline {
  display: inline-block;
}

.u-temp {
  color: $grey;
}

.u-center {
  text-align: center;
}

.u-height {
  min-height: 100vh;
}
